---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Blog">
  <h1>Blog</h1>
  <ul>
    <li><a href="/blog/first-post/">My First Astro Blog Post</a></li>
  </ul>
</BaseLayout>
