---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle="WebDev | Home">
  <section class="mt-2 mb-2 text-center">
    <h2>Featured Projects</h2>
    <p>Check back soon for featured projects!</p>
  </section>
</BaseLayout>
